version: "3.9"

services:
  GKuberBot:
    image: nehanareshupadhyay/gkuber:latest
    container_name: gkuberbot
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
